# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=monitor_fuzzy_dollop
POSTGRES_PORT=5432

# Application Configuration
APP_PORT=8000
DATABASE_URL=postgresql://postgres:postgres@db:5432/monitor_fuzzy_dollop
